
<link href="../../../public/styles/HeaderStyle.css" rel="stylesheet" type="text/css" />

<div class="header">
    <h1 class="title"><%=page.title%></h1>
    <p class="userName"><%=user.userName%></p>
    <p class="visits"><%=user.visits%></p>
</div>