
<link href="./styles/HeaderStyle.css" rel="stylesheet" type="text/css" />

<div class="header">
    <h1 class="title"><%=pageName%></h1>
    <p class="userName"><%=userInfo.userName%></p>
    <p class="visits"><%=userInfo.visits%></p>
</div>