
<link href="../../../public/styles/HeaderStyle.css" rel="stylesheet" type="text/css" />

<div class="header">
    <h1 class="title"><%=title%></h1>
    <p class="userName"><%=userName></p>
    <p class="visits"><%=visits></p>
</div>