
<link href="./styles/HeaderStyle.css" rel="stylesheet" type="text/css" />

<div class="header">
    <h1 class="title"><%=data.pageInfo.title%></h1>
    <p class="userName"><%=data.user.userName%></p>
    <p class="visits"><%=data.user.visits%></p>
</div>