<link href="/styles/HeaderStyle.css" rel="stylesheet" type="text/css" />

<div class="header">
  <h2 class="userName">Nazwa użytkownika: <%=userInfo.userName%></h2>
  <h1 class="title"><%=pageName%></h1>
  <h3 class="visits"><%=userInfo.visitsNumber%></h3>
</div>
