
<link href="./styles/RegistrationStyle.css" rel="stylesheet" type="text/css" />

<div class="registerBox">
    <form action="/login/auth" method="POST">
        <label>Podaj Email użytkownika</label>
        <input type="email" name="email">
        <label>Podaj Hasło użytkownika</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>