
<link href="../../../public/styles/RegistrationStyle.css" rel="stylesheet" type="text/css" />

<div class="registerBox">
    <form action="/auth" method="POST">
        <label>Podaj Nazwę użytkownika</label>
        <input type="text">
        <label>Podaj Email użytkownika</label>
        <input type="email">
        <label>Podaj Hasło użytkownika</label>
        <input type="password">
        <input type="submit">
    </form>
</div>