<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galeria starych aut</title>
    <link href="/styles/MainPageStyle.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <header>
        <%- include('./../partials/header.ejs', {userInfo: userInfo, pageName:
        pageName}) %>
      </header>
      <div class="page">
      <% if(pageToRender == "main"){ %> <%-
      include('./../partials/carSelection.ejs', {carData: carData, userInfo:
      userInfo, numberOfVisits:numberOfVisits}) %> <% }if(pageToRender ==
      "login"){ %> <%- include('./../partials/login.ejs') %> <% }
      if(pageToRender == "register"){ %> <%-
      include('./../partials/registration.ejs') %> <% } %>
     </div>
  </body>
</html>
